<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <table cellpadding='10' cellspacing='0' width='100%'>
      <tr>
        <td width='100%'><%= link_to image_tag("logo-singma_bathroom_renovations.png", :alt => 'Singma Bathroom Renovations', :height => '109', :width => '109'), AppConfig[:host] %></td>
        <td width='100%'><h1><%= link_to "<span style='color: #e4995f;'>Singma</span> <span style='color: #afb9d4;'>Bathroom</span> <span style='color: #5d9651;'>Renovations</span>".html_safe, AppConfig[:host], :style => 'text-decoration: none;' %></h1></td>
      </tr>
      <tr><td width='100%' style='color: #666;'>Dear <%= @quote.name %>,</td></tr>
      <tr><td width='100%' style='color: #e4995f; font-size: 16px;'>Thank you for submitting your details.</td></tr>
      <tr><td width='100%'>Here's a summary of your details:</td></tr>
      <tr>
        <td width='100%'>
          <ul style='margin: 0; padding:0 0 0 10px;'>
            <li><span style='font-weight: bold;'>Contact number</span>: <%= @quote.phone %></li>
            <li><span style='font-weight: bold;'>Postcode</span>: <%= @quote.postcode %></li>
            <li><span style='font-weight: bold;'>Ground Floor</span>: <%= @ground_floor %></li>
            <li><span style='font-weight: bold;'>Access Difficulty</span>: <%= @quote.access_difficulty %></li>
            <li><span style='font-weight: bold;'>Job Completion</span>: <%= @quote.job_completion %></li>
            <li><span style='font-weight: bold;'>Full Renovation</span>: <%= @full_renovation %></li>
            <li><span style='font-weight: bold;'>Other Renovation</span>: <%= @quote.other_renovation %></li>
          </ul>
        </td>
      </tr>
      <tr><td width='100%'>The quote for the job is:</td></tr>
      <tr><td width='100%' style='font-size: 14px; font-weight: bold;'><span style='padding-left: 20px;'>$<%= @final_quote %></span></td></tr>
      <tr><td width='100%'>Please kindly respond to this email or contact us on 0421 508 024 if you would like to proceed with the job or if you have any further questions.</td></tr>
      <tr><td width='100%' style='color: #666'>Kind regards,<br/><br/>the Singma Bathroom Renovations team</td></tr>
      <tr><td width='100%'><%= link_to AppConfig[:host], AppConfig[:host] %></td></tr>
    </table>
  </body>
</html>