<%= form_for @quote do |f| %>
  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2>Oops! Please correct <%= pluralize(@quote.errors.count, "error") %> below:</h2>
      <ul>
      <% @quote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field clearfix">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field clearfix">
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>
  <div class="field clearfix">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>
  <div class="field clearfix">
    <%= f.label :postcode %>
    <%= f.text_field :postcode %>
  </div>
  <div class="field clearfix">
    <%= f.label :ground_floor %>
    <%= f.check_box :ground_floor, {}, 'Y' %>
  </div>
  <div class="field clearfix">
    <%= f.label :access_difficulty %>
    <%= f.select :access_difficulty, "<option>Easy</option><option>Difficult</option>".html_safe, :prompt => "Select" %>
  </div>
  <div class="field clearfix">
    <%= f.label :job_completion %>
    <%= f.date_select :job_completion, :start_year => Time.now.year, :end_year => Time.now.year+2, :max_years_allowed => Time.now.year+2, :prompt => { :day => 'Select Day', :month => 'Select Month', :year => 'Select Year' } %>
  </div>
  <div class="field clearfix">
    <%= f.label :full_renovation %>
    <%= f.check_box :full_renovation, {}, 'Y' %>
  </div>
  <div class="field clearfix">
    <%= f.label :other_renovation, "Other renovation (if any)" %>
    <%= f.text_area :other_renovation %>
  </div>

  <div class="actions clearfix">
    <label for='commit'>&nbsp;</label>
    <%= f.submit 'SUBMIT', :class => 'submit_button process' %>
  </div>
<% end -%>