<h1>Listing quotes</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Postcode</th>
    <th>Ground floor</th>
    <th>Access difficulty</th>
    <th>Job completion</th>
    <th>Full renovation</th>
    <th>Other renovation</th>
    <th>Created at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @quotes.each do |quote| %>
  <tr>
    <td><%= quote.name %></td>
    <td><%= quote.phone %></td>
    <td><%= quote.postcode %></td>
    <td><%= quote.ground_floor %></td>
    <td><%= quote.access_difficulty %></td>
    <td><%= quote.job_completion %></td>
    <td><%= quote.full_renovation %></td>
    <td><%= quote.other_renovation %></td>
    <td><%= quote.created_at %></td>
    <td><%= link_to 'Show', quote %></td>
    <td><%= link_to 'Edit', edit_quote_path(quote) %></td>
    <td><%= link_to 'Destroy', quote, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Quote', new_quote_path %>
