<div id='quote'>
  <h2 class='box_heading'>Quotes</h2>

  <table cellpadding='10' cellspacing='0' width='100%'>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Post code</th>
      <th>Ground floor</th>
      <th>Access difficulty</th>
      <th>Full reno</th>
      <th>Comments</th>
      <th>Submitted at</th>
    </tr>

  <% @quotes.each do |quote| -%>
    <tr>
      <td><%= quote.name %></td>
      <td><%= quote.phone %></td>
      <td><%= quote.email %></td>
      <td><%= quote.postcode %></td>
      <td><%= quote.ground_floor %></td>
      <td><%= quote.access_difficulty %></td>
      <td><%= quote.full_renovation %></td>
      <td><%= quote.other_comments %></td>
      <td><%= quote.created_at %></td>
    </tr>
  <% end -%>
  </table>
</div>
