<%= form_for(@contact) do |f| %>
  <div id="error_explanation">
    <%= f.error_messages :message => '' %>
  </div>
  <div class="field clearfix">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field clearfix">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field clearfix">
    <%= f.label :message %>
    <%= f.text_area :message %>
  </div>
  <div class="actions clearfix">
    <label for='commit'>&nbsp;</label>
    <%= f.submit('Submit', :title => 'Submit', :class => 'submit_button') %>
  </div>
<% end %>
