<div id='gallery' class='clearfix'>
  <div class='left-content'>
    <h2><%= @galleries.first.title %> <%= h2 %></h2>

    <div id="galleria">
      <% @galleries.each do |gallery| -%>
        <a href="<%= gallery.image %>"><img data-title="<%= gallery.title %>" data-description="<%= gallery.description unless gallery.description.blank? %>" src="<%= gallery.image %>" /></a>
      <% end -%>
    </div>

    <p class='highlight'>Stay tuned for more photos ...</p>
  </div>

  <div class='right-content'>
    <h2>Follow Us</h2>

    <div class='social-media'>
      <%= render '/common/twitter_follow_button' %>
    </div>
    <div class='social-media'>
      <%= render '/common/google' %>
    </div>
  </div>
</div>
