<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @gallery.title %>
</p>

<p>
  <b>Description:</b>
  <%= @gallery.description %>
</p>

<p>
  <b>Image:</b>
  <%= @gallery.image %>
</p>

<p>
  <b>Active:</b>
  <%= @gallery.active %>
</p>

<p>
  <b>Created at:</b>
  <%= @gallery.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @gallery.updated_at %>
</p>


<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
