<div class='main_menu'>
  <div class='content clearfix'>
    <nav>
      <ul class='left_menu clearfix'>
        <li><%= link_to 'Home', root_path %><span class='link_separator'></span></li>
        <li><%= link_to 'Get a Quote', root_path %><span class='link_separator'></span></li>
        <li><%= link_to 'Gallery', root_path %><span class='link_separator'></span></li>
        <li><%= link_to 'Site Map', site_map_index_path %></li>
      </ul>
    </nav>

    <nav>
      <ul class='right_menu clearfix'>
        <% if !user_signed_in? -%>
          <li><%= link_to 'Login', new_user_session_path %></li>
        <% end -%>
        <% if user_signed_in? -%>
          <li><%= link_to 'View Quotes', quotes_path %><span class='link_separator'></span></li>
          <li><%= link_to 'Post Testimonial', new_testimonial_path %><span class='link_separator'></span></li>
          <li><%= link_to 'View Testimonials', testimonials_path %><span class='link_separator'></span></li>
          <li>Welcome, <span class='username'><%= current_user.username %></span><span class='link_separator'></span></li>
          <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
        <% end -%>
      </ul>
    </nav>
  </div>
</div>