<%= form_for(@testimonial) do |f| %>
  <% if @testimonial.errors.any? %>
    <div id="error_explanation">
      <h2>Oops! Please correct <%= pluralize(@quote.errors.count, "error") %> below:</h2>

      <ul>
      <% @testimonial.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field clearfix">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field clearfix">
    <%= f.label :suburb %>
    <%= f.text_field :suburb %>
  </div>
  <div class="field clearfix">
    <%= f.label :comment %>
    <%= f.text_area :comment %>
  </div>

  <div class="actions">
    <label for='commit'>&nbsp;</label>
    <%= f.submit('Submit', :title => 'Submit', :class => 'submit_button process') %>
  </div>
<% end -%>