<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>

  <meta name="description" content="<%= yield(:title).present? ? yield(:title) : page_title %>">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width">

  <%= render 'common/google_analytics' %>
</head>
<body>
  <%= render 'common/facebook_initialize' %>
  <%= render 'common/header' %>
  <div class='main'>
    <div class='content'>
      <% if notice -%>
        <p class="notice"><%= notice %></p>
      <% end -%>

      <% if alert -%>
        <p class="alert"><%= alert %></p>
      <% end -%>

      <%= yield %>
    </div>
  </div>
  <%= render 'common/footer' %>
</body>
</html>
